.loginContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:var(--secondary-color);
    float:right;
    /* Container Sizing */
    width:400px;
    height:100vh;

}
.loginContainer img {
    /* Image Sizing */
    height:150px;
    width:150px;
}

.loginText > h1{
    font-size:3rem;
    color:white;
}

.loginText, .loginButtons, .logo{
    padding-top:45px;
}