
@media only screen and (max-width:768px) {
    .loginPage {
        background-image: none !important;
    }
    .loginContainer { 
        margin: 0 2% 0 2%;
    }
    .loginContainer img {
        width: 110px !important;
        height: 110px !important;
    }
    .loginText{
        padding-top: 20px !important;
    }
    .logo {
        padding-top:80px !important;
    }
    .loginButtons{
        padding-top:45px !important;
    }
    .loginButtons,
    .loginButtons button{
        height:75px !important;
        white-space: nowrap;
    }
    .loginButtons img {
        width:50px !important;
        height:60px !important;
    }
}

@media only screen and (min-width:768px) {
    .loginPage {
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .loginContainer {
        float: none;
        height: 70vh;
        padding: 20px;
    }

    .loginFooter {
        display: none;
    }
}

@media only screen and (min-width:900px) {
    .loginContainer {
        float: right;
        height: 100vh;
        width: 400px;
    }

    .loginFooter {
        display: none;
    }
}

.loginPage {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);

}

.loginContainer img {
    height: 150px;
    width: 150px;
}

.loginText>h1 {
    font-size: 3rem;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loginText,
.loginButtons,
.logo {
    padding-top: 50px;
}

.loginButtons img {
    height: 40px;
    width: 50px;
    padding-right: 15px;
}

.loginButtons {
    padding: 20px;
}

.googleLoginButton {
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.googleLoginButton:hover {
    background: #e3e3e3 !important;
}

.footer {
    margin-top: auto;
    color: white;
    text-align: center;
}