:root {
    --background-color: #6FA8DC;
    --secondary-color: #4E83C2;
    --main-font: 'Montserrat', sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: var(--main-font);
    /* margin-left: 200px; */
    /* overflow: hidden; */
}
svg{
    display:none;
}
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
/* Global CSS (containers, buttons etc) */

.generic-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 60px;
    width: 90%;
    font-size: 31px;
    /* height: 80%; */
    /* padding-bottom: 1px; */
}

.generic-header-blue {
    background-color: var(--secondary-color);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    color: white;
    padding-left: 20px;
}

.generic-header {
    /* margin-top: 9%; */
    color: white;
    padding-left: 20px;
    width: 100%;
    border-top-left-radius: 60px;
    background-color: var(--secondary-color);
}

.generic-content {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20%;
}

.generic-text {
    font-size: 22px;
    padding-left: 50px;
}

.generic-button {
    border: 0;
    background-color: var(--secondary-color);
    width: 50%;
    height: 10%;
    font-size: 1rem;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 60px 60px 60px 60px;
    transition-duration: 0.4s;
}

.selected {
    background-color: lightgreen !important;
    color: black;
}

.sml {
    width: 10% !important;
    height: 10% !important;
}

.blackBtn {
    background-color: #2f2f2f !important;
    color: #FFFFFF !important;
}

.generic-button:hover {
    background-color: #FFFF;
    color: black;
    box-shadow: 10px 10px 8px #888888;
}