.quizTitle {
    /* Text Styling*/
    font-size:3rem;
    font-weight:500 !important;
    text-align:center;
    color:white;
    /* Positioning */
    padding: 1% 0 1% 0;
}
.quizTitle p {
    margin-bottom:0 !important;
}
.quizContainer{
    background-color:white;
    height:500px;
    margin:0 20vw 0 20vw;
    border-radius:10px;
    padding:0% 2% 0% 2%;
}
.quizQuestionTitle{ 
    color: #7B7B7B;
    font-size:2vw;
    font-weight:500 !important;
    padding-top:2%;
}
.quizQuestionTitle p{
    display:flex;
    align-items:flex-start;
    text-shadow: 2px 1px 4px rgba(120,132,144,0.10);
}
.quizTitle p {
    text-shadow: 2px 1px 4px rgba(120,132,144,1);
}

.quizNavigationButtons {
    display:flex;
    gap:10px;
}
.quizNavigationButtons button {
    width:100px;
}
.quizQuestionImage img{
    height:200px;
    width:200px;
    object-fit:cover;
}

.quizQuestionAnswers {
    display:flex;
    gap:10px;
    max-width:80%;
    height:80px;
}
.quizAnswerButtons {
    min-width: 15%;
}
.quizButtons{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-self:flex-end;
    padding-top:5%;
}
