@media only screen and (max-width:900px) {
    .quizContainer{
        width:95vw;
        padding:0px !important;
        height:85vh;
    }
    .quizContainer > .quizQuestionTitle{
        order:2;
    }
    .quizContainer > .questionQuestionImage{
        order:1;
        display:flex;
        align-items:center;
    }
    .quizContainer > .quizButtons{
        order:3;
    }
    .quizQuestionImage{
        display:flex;
        justify-content: center;
        align-items:center;
    }
    .quizQuestionImage img{
        width:150px;
        height:150px;
        object-fit:cover;
    }
    .quizQuestionTitle > p{
        font-size:4vw;
    }
    .largeButtonGroup{
        display:none !important;
    }
    .quizTitle{
        font-size:4.5vw;
    }
    .quizPage{
        height:85vh;
    }
    .quizQuestionCounter{
        display:none;
    }
    .quizQuestionTitle{
        justify-content:center;
    }
    .smallButtonGroup{
        display:inline-grid;
        grid-template-columns:auto auto;
    }
    .quizButtons{
        flex-direction:column;
        align-items:center;
        
    }
    .quizAnswerButtonsMoreThanFour{
        display:inline-grid;
        grid-template-columns:auto auto auto auto !important;
    }
    /* .smallButtonGroup > Button{
        font-size:2vw;
    } */
}

@media only screen and (min-width:900px) {
    .quizContainer{
        width: 1000px;
        padding:50px;
        height:65vh;
        align-content:space-evenly;
    }
    .quizQuestionImage{
        height:200px;
        width:200px;
    }    
    .quizQuestionImage img{
        height:200px;
        width:200px;
        object-fit:cover;
    }
    .quizTitle{
        font-size:3rem;
    }
    .quizPage{
        height:85vh;
        justify-content:center;
    }
    .quizQuestionTitle{
        justify-content:space-between;
    }
    .smallButtonGroup{
        display:none;
    }
    .quizButtons{
        align-items:end;
        align-self:flex-end;
    }
}

.quizPage{
    display:flex;
    align-items:center;
    flex-direction:column;
}

.quizButtons{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;


}

.quizContainer{
    background-color:white;
    border-radius:10px;
    display:grid;
}

.quizTitle {
    color:white;
    font-weight:500;
}

.quizQuestionTitle{ 
    color: #7B7B7B;
    font-size:2.2rem;
    font-weight:500;
    display:flex;
    flex-direction:row;
}

.quizTitle p {
    text-shadow: 2px 1px 4px rgba(120,132,144,1);
}



.quizAnswerButtons , .quizNavigationButtons Button{
    min-width: 20% !important;
    height:110px;
    font-size: 1.2rem !important;
    font-family: var(--main-font);
}

.quizNavigationButtons Button{
    width:100px;
    margin-left:5px;
}

.quizQuestionAnswers {
    max-width:70%;
}
.quizQuestionAnswers > div , .quizNavigationButtons button{
    box-shadow:none !important;
}
