<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>
        Whoops - 404
    </title>
</head>
<header>
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <a class="navbar-brand" href="#" style="margin-left:20px">QuizPoint</a>
        <ul class="nav navbar-nav">

        </ul>
    </nav>
</header>

<body>
    <div class="p-5 bg-light" style="text-align: center;">
        <div class="container">
            <h1 class="display-3">We couldn't find what you were looking for</h1>
            <p class="lead">
                The page you tried to reach does not exist or is not avaliable to you.
            </p>
            <hr class="my-4">

            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/" role="button">Return Home</a>
            </p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>

</html>