
/* 'Your classes' text and div */
.class-header {
    text-align: center;
    color: white;
}

/* Class cards (div row) */
.class-cards-element{
    border-radius:15px !important;
}
.class-cards {
    margin-left: 4%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 3%;
    text-align: center;
}
.class-card-footer{
    margin-top:9%;
}
.class-card-footer > p {
    text-decoration:none !important;
}
/* mobile design */
.class-cards-mobile {
    margin-left: 11%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 3fr;
    grid-gap: 3%;
    text-align: center;
}