.class-home{
    margin-top:3%;
}
/* Main class header */
.class-header {
    text-align: center;
    color: white;
}

/* each class card */
.class-cards {
    margin-left: 4%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 3%;
    text-align: center;
}

/* body of class page */
.class-body {
    padding-left: 2%;
    padding-right: 2%;
}

/* mobile design */
.class-cards-mobile {
    margin-left: 11%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 3fr;
    grid-gap: 3%;
    text-align: center;
}

/* mobile */
.class-header-mobile {
    margin-top: 5%;
    text-align: center;
    color: white;
}

/* class body for mobile */
.class-body-mobile {
    text-align: center;
    color: white;
}

/* quiz assigned cards for mobile */
.quizassigned-mobile {
    margin-top: 4%;

}

/* generic quiz card */
.quiz-card {
    width: 100%;
}

/* container used for quiz cards in a grid */
.quiz-grid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 2%;
}