.class-home{
    margin-top:2%;
}
/* Main class header */
.class-header {
    text-align: center;
    color: white;
    margin-top:1.5%;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root{
    background-color:#4E83C2 !important;
    text-decoration:none !important;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root:hover{
    background-color:#4e79c2 !important;
}
.quick-actions{
    display:flex;
    justify-content:center;
    align-items:center;
}
.quick-actions > div > button {
    text-decoration:none !important;
    height:50px;
}
/* each class card */
.class-cards {
    margin-left: 4%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 3%;
    text-align: center;
}
hr {
    color:white;
}
.class-page-mobile, .class-page{
    padding-left: 6%;
    padding-right: 6%;
}
/* mobile design */
.class-cards-mobile {
    margin-left: 11%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 3fr;
    grid-gap: 3%;
    text-align: center;
}
.class-body > div > h2 {
    color:white;
}
/* mobile */
.class-header-mobile {
    margin-top: 2%;
    text-align: center;
    color: white;
}
/* class body for mobile */
.class-body-mobile {
    color: white;
}

/* quiz assigned cards for mobile */
.quizassigned-mobile {
    margin-top: 4%;

}
.css-1t8q4u1-MuiPaper-root-MuiCard-root > .css-46bh2p-MuiCardContent-root{
    /* set background color to red */
    background-color: var(--secondary-color);
    color:white;
}
/* generic quiz card */
.quiz-card {
    margin-top: 2%;
    text-align: center;
    font-family: var(--main-font);
}

.quiz-card > div {
    border-radius:25px !important;
}
/* container used for quiz cards in a grid */
.quiz-grid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 2%;
}