

body {
    background-color: #6FA8DC;
    /* overflow: hidden; */
    font-family: 'Montserrat', sans-serif;
    margin-left: 200px
}


/* Global CSS (containers, buttons etc) */

.generic-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 60px;
    width: 90%;
    font-size: 31px;
    /* height: 80%; */
    /* padding-bottom: 1px; */
}

.generic-header-blue {
    background-color: #4E83C2;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    color: white;
    padding-left: 20px;
}

.generic-header {
    /* margin-top: 9%; */
    color: white;
    padding-left: 20px;
    width: 100%;
    border-top-left-radius: 60px;
    background-color: #4E83C2;
}

.generic-content {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20%;
}

.generic-text {
    font-size: 22px;
    padding-left: 50px;
}

.generic-button {
    border: 0;
    background-color: #4E83C2;
    width: 20%;
    height: 10%;
    font-size: 20px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 2%;
    border-radius: 60px 60px 60px 60px;
    transition-duration: 0.4s;
}

.selected {
    background-color: lightgreen !important;
    color: black;
}

.sml {
    width: 15% !important;
    height: 8% !important;
}

.generic-button:hover {
    background-color: #FFFF;
    color: black;
    box-shadow: 10px 10px 8px #888888;
}


/* #teachingsuite_classviewbyquiz-authed {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.classGradeViewQuizResults {
    margin-left: 20px;
} */

.hidden {
    display: none !important;
}

#installContainer {
    position: absolute;
    bottom: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
}

#installContainer button {
    background-color: inherit;
    border: 1px solid white;
    color: white;
    font-size: 1em;
    padding: 0.75em;
}

#tcs_filter {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}

.searchresult {
    background-color: white;
    border-radius: 20px;
    padding-left: 10px;
    opacity: 0.6;
    transition: 0.3s;
    margin-top: 20px;
}

.searchresult:hover {
    opacity: 1
}

.filterByField {
    margin-left: 20%;
}

.homePageGrid {
    display: grid;
    grid-template-columns: 3fr 1fr
}

.signInButton-Google {
    background-color: white;
    border: 0px;
    border-radius: 30px;
    filter: drop-shadow(0 0 0.3rem black);
}

.action {
    margin: auto;
    width: 80%;
}

.signInButton-Office {
    margin-top: 20px;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 30px;
    filter: drop-shadow(0 0 0.3rem black);
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    /* border: 1px red solid; */
}

.image2 {
    position: absolute;
    top: 30px;
    left: 30px;
    margin-left: 20%;
    /* border: 1px green solid; */
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.links {
    margin-top: 10%;
}

.active {
    background-color: #4E83C2 !important;
    box-shadow: 0 0 0 0 !important;
}

.sidenav-btn {
    border: 0;
    background-color: #7CA5D9;
    width: 90%;
    padding-left: 0px;
    height: 10%;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 0px 60px 60px 0;
    transition-duration: 0.4s;
    /* top-left top-right bottom-right bottom-left. */
}

.sidenav-btn:hover {
    background-color: #FFFF;
    color: black;
    box-shadow: 10px 10px 8px #888888;
}

.sidenav .footer {
    margin-top: 110%;
    margin-left: 4%;
}


/* TEACHING SUITE */

.teachingsuiteNav {
    margin-bottom: 1px !important;
    margin-top: 0%;
}

/* Create Class */
.createClassModalOptions{
    padding-top: 1%;
}

/* Summary Page */

.summaryPageQuickActions {
    margin-top: 7%;
}

.studentPageContent {
    margin-left: 20px;
}

.studentPageFilter {}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 992px) {
    .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #FFFFFF;
        overflow-x: hidden;
        padding-top: 20px;
    }
    .sidenav .footer {
        margin-top: 70%;
        margin-left: 4%;
    }
}