.body {
  overflow: auto;
}


.createquiz-container {
  background-color: white;
  margin-left: 2%;
  margin-top: 2%;
  width: 90%;
  border-radius: 2px;
  padding-left: 2%;
}

.createquiz-basicinfo {
  display: grid;
  width: 30%;
}

.createquiz-table td {
  padding: 15px;
}