.studentPage {
    margin-top: 100%;

}

.dataTable {
    background-color: white;
    margin-left: 5%;
}

.studentpage-search {
    background-color: white;
    border-radius: 2px;
    width: 100%;
    transition: 2s;
}

.search-results {
    overflow-y: scroll;
    height: 80%;
}

.search-result {
    transition-duration: 0.4s;
}

.search-result:hover {
    background-color: whitesmoke;
    font-weight: bold;

}

.studentpage-search-header {
    text-align: left;
    margin-left: 2%;
    margin-top: 1%;
}

.studentgrid {
    margin-top: 4%;

    display: grid;
    margin-left: 4%;
    grid-template-columns: 1fr 3fr;
    gap: 5%
}