.studentPage {
    margin-top: 100%;

}

.studentpage-search {
    background-color: white;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin-top: 0% !important;
    position: sticky;
    transition: 2s;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}

.search-results {
    /* overflow-y: scroll; */
    height: 100vh;
}

.search-results p {
    margin-left: 5%;
}

.search-result {
    transition-duration: 0.4s;
    margin-left: 0 !important;
    border-style: solid;
}

.search-result:hover {
    cursor: pointer;
    background-color: #4E83C2;
    border-style: dotted;
    color: white;
    /* filter: drop-shadow(0 0 0.75rem #4E83C2); */
    transform: translateY(-4px);

}

.studentpage-search-header {
    text-align: left;
    /* margin-left: 2%; */
    /* margin-top: 1%; */
    text-align: center;
    font-weight: bold;


}

.studentpage-search-header p {
    background-color: #4E83C2;
    height: 5vh;
    padding-top: 1vh;
    color: white;
}

.studentgrid {
    margin-top: 4%;

    display: grid;
    margin-left: 4%;
    grid-template-columns: 1fr 3fr;
    gap: 1%;
    margin-bottom: 2%;
}

.user-page-container {
    transition: 2s;
    margin-top: 0 !important;
    box-shadow:
        0px 1.9px 2.2px rgba(0, 0, 0, 0.021),
        0px 4.3px 7.5px rgba(0, 0, 0, 0.031),
        0px 7.1px 18.6px rgba(0, 0, 0, 0.038),
        0px 10.8px 44.4px rgba(0, 0, 0, 0.044),
        0px 15.5px 84.5px rgba(0, 0, 0, 0.05),
        0px 22px 95.3px rgba(0, 0, 0, 0.056),
        0px 31.2px 95.8px rgba(0, 0, 0, 0.062),
        0px 45.3px 92.4px rgba(0, 0, 0, 0.069),
        0px 69.8px 86.8px rgba(0, 0, 0, 0.079),
        0px 124px 80px rgba(0, 0, 0, 0.1);
}

.selectuser-text {
    color: white;
}