.card {
    width: 20rem;
    height: 20rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card:hover {
    background-color: #EEE
}

.card-img-top {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.card-title {
    font-stretch: expanded;
    font-size: x-large;
    font-weight: 400;
    padding-top: 1.5rem;
    padding-bottom: 0.9rem;
}

.card-footer {
    text-align: center;
}

#classContainer {
    margin-left: 10rem;
    margin-right: 10rem;
}

#homePage {
    display: block;
}

.animate__animated.animate__fadeInLeft {
    --animate-duration: 1000ms;
}

.createClassCard{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:500%;
}

.createClassCard p{
    font-size:33%;
}