.headerTeachingSuite {
    margin-left: 10%;
    margin-top: 10px;
    padding-bottom: 10px;
}

.line {
    width: 90%;
    margin: auto;
}

.classes {
    margin-left: 10%;
    margin-top: 10px;
    padding-bottom: 10px;
}

.studentList {
    margin-left: 10%;
    margin-top: 10px;
    padding-bottom: 10px;
}

.stdTable {
    width: 90%;
}

.modal {
    display: block;
}

#exampleModal {
    display: block;
}

#v-pills-tab {
    margin-left: 2%;
    margin-top: 2%;
}

.tab-content {
    width: 80%;
}

#tcsClasses {
    display: inline-grid;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    grid-gap: 50px;
}

.tcsGraphs {
    display: grid;
    grid-template-columns: 3fr 3fr;
}